@model CambiarPasswordRequestViewModel 
@inject IStringLocalizer<SharedResources> SharedLocalizer
<!--begin::Table Widget 6-->
<div class="card card-custom gutter-b">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @SharedLocalizer["Perfil.CambioContraseña"]
            </h3>
        </div>
    </div>
    <div class="card-body">
         <div class="row justify-content-center">
             <div class="col-md-5">
                 <div class="form-group">
                     <label>@SharedLocalizer["Perfil.ContraseñaActual"]: </label>
                     <input type="password" class="form-control" placeholder="*****" asp-for="password" />
                 </div>
                 <div class="form-group">
                     <label>@SharedLocalizer["Perfil.ContraseñaNueva"]: </label>
                     <input type="password" class="form-control" placeholder="*****" asp-for="nueva_clave" />
                 </div>
                 <div class="d-flex justify-content-between">
                     <button class="btn btn-primary" id="btnGuardar">@SharedLocalizer["Perfil.Aceptar"]</button>
                 </div>
                 
             </div>
         </div>
    </div>
</div>
@section scripts{ 
<script>
    var urlCambiarPassword = "@Url.Action("CambiarPassword", "Perfil")";
</script>
<script src="~/js/perfil/perfil.js"></script>
}
<!--end::Table Widget 6-->